/*
 Color codes
 bg: #081621
 bg-light: #f1f1f1
 in-bg: #e8f0fe
 go-bg; #797389
 white-light: rgba(255,255,255,.5)
*/

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-family: "poppins";
  }
  
  .inputContainer label {
    display: block;
    margin-top: 30px;
    font-weight: 600;
    align-items: center;
    padding: 10px;
    font-family: "poppins";
  }
  
  .inputContainer input {
    width: 93%;
    background-color: #fcfeff;
    color: black;
    padding: 15px;
    border-radius: 0.5rem;
    display: block;
    border: 0px none;
    font-family: "poppins";
  }
  
  .loginBTN {
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 0.5rem;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #27699e;
    color: white;
    transition: all 0.4s;
    margin-top: 20px;
    font-family: "poppins";
  }
  
  .loginBTN:hover {
    transition: all 0.4s;
    background-color: white;
    border: 1px solid #c1d4e3;
    color: black;
    font-family: "poppins";
  }
  
  .loginContainerv2 {
    width: 500px;
    background-color: #c1d4e3;
    padding: 40px;
    border-radius: 0.5rem;
    font-family: "poppins";
  }
  .loginContainerv2 h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    font-family: "poppins";
  }
  
  .or {
    display: block;
    text-align: center;
  }
  
  .googleBTN {
    padding: 15px;
    width: 100%;
    border: 0px none;
    background-color: #797389;
    border-radius: 0.5rem;
    color: white;
    transition: all 0.4s;
  }
  
  .googleBTN:hover {
    transition: all 0.4s;
    background-color: white;
    border: 1px solid black;
    color: black;
  }
  
  .singupBTN {
    color: black;
    font-family: "poppins";
  }
  
  .singupBTN:hover {
    color: black;
    text-decoration: underline;
    font-family: "poppins";
  }
  
  .notreg {
    display: inline-block;
    margin-top: 15px;
    font-family: "poppins";
  }
  
  .forgetmeContainer {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
  }
  
  .forgetmeContainer a {
    color: black;
  }
  